html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.container {
  max-width: 85%;
  margin: auto;
}

.table {
  width: 100%;
  border-spacing: 0 20px;
}


.clsDes {
  visibility: visible;
}

.clsmob {
  visibility: collapse;
}

@media screen and (max-width: 768px) {
  .clsDes {
    visibility: collapse;
  }
  .clsmob {
    visibility: visible;
  }
}

.table thead th:nth-child(1) {
  padding: 15px;
  text-align: center;
  background: #2196F3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}


.table thead th:nth-child(2) {
  text-align: left;
  padding-left: 30px;
  background: #2196F3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 0px;
  font-family: Roboto, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  line-height: 28px;
  color: #FFFFFF;
}

.table thead th:nth-child(3) {
  text-align: left;
  padding-left: 30px;
  background: #2196F3;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.table thead th td {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.table th, .table td {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-style: normal;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  padding: 15px 15px 15px 30px;
}

.table td:nth-child(1) {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.table td:nth-child(2) {
  border-radius: 0px;
  border-left: 1px solid #B2B2B2;
  border-right: 1px solid #B2B2B2;
}

.table td:nth-child(3) {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.table tr:nth-child(even) {
  background: #eee;
}


.modal-block {
  display: flex;
  align-items: center;
}

.modal-block>img {
  padding-right: 15px;
}

h2.modal-country {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

p.modal-confirmed {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}

p.modal-statistic {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  margin-left: auto;
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}

.modal-block>img {
  width: 22px;
  height: 25px;
}
